.ec-check-eligibility-button-container {
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  text-align: center;
}

.ec-check-eligibility-button {
  cursor: pointer;
  margin-left: -4px;
  border-width: 0;
  background-color: transparent;
  color: #FFF;
  padding: 16px;
}

.ec-check-eligibility-button-text {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.ec-check-eligibility-button:hover {
  color: #82D8AF;
  fill: #82D8AF;
}

.ec-check-eligibility-button-text:hover {
  color: #82D8AF
}

.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97px;
  width: 97px;
  margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .ec-check-eligibility-button-container {
    flex: 1;
  }

  .loading-icon {
    width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .loading-icon {
    animation: loading-icon-spin infinite 1s linear;
  }

  .ec-check-eligibility-button {
    cursor: pointer;
    margin-left: 0px;
  }
}

@keyframes loading-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
