.icon {
  width: 97px;
  height: 97px;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-icon {
    animation: loading-icon-spin infinite 1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes loading-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}