.ec-form-field-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  width: 100%;
}

.ec-form-field-wrapper-label {
  font-size: 16px;
  color: #FFF;
}

.ec-form-field-wrapper-error {
  font-size: 14px;
  color: #FFCD5F;
}

@media screen and (max-width: 768px) {
  .ec-form-field-wrapper {
    padding-bottom: 8px;
  }
}